{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block content %}
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">About Us</h1>
                    <span class="color-text-a">Want to know more about us?</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            About
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="section-about">
    <div class="container">
        <div class="row">        
            <div class="col-md-12 section-md-t3 mb-3">
                <div class="title-box-d">
                    <h3 class="title-d">       
                        <span class="color-d">About ZaCh Events and Catering</span>
                    </h3>
                </div>
                <p class="color-text-a">
                    At ZaCh Events and Catering, we believe that every event should be a reflection of the host’s vision, style and personality. That’s why we offer bespoke services tailored to each unique client we work with. From intimate gatherings to grand celebrations, we take pride in every detail, ensuring that every element is in place for a flawless, stress-free event. Our team is passionate, experienced and dedicated to exceeding our clients’ expectations.
                </p>
                <p>
                    ZaCh Events is a full-service Event Planning Company dedicated to creating unforgettable events for a wide range of clients and different industries. We combine seasoned knowledge with inspiration and ingenuity, transforming venues and providing your guests with truly unique experiences. Contact us so we can start working together to plan your perfect event.
                </p>
            </div>         
        </div>
    </div>
</section>

{% endblock %}
