{% extends 'base.html' %}
{% load static %}
{% block title %}{{obj.name|title}}{% endblock %}
{% block content %}
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">{{obj.name|title}}</h1>
                    <span class="color-text-a">All images</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'core:folders' %}">Gallery Folder</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{obj.name|title}}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="agents-grid grid">
    <div class="container">
        {% if images %}
      <div class="row">
        {% for img in images %}
        <div class="col-md-3">
          <div class="card-box-d">
            <div class="card-img-d">
              <a href="{{img.image.url}}" data-lightbox="{{obj.name}}" data-title="{{img.caption|title}}">
                <img src="{{img.image.url}}" alt="{{img.name}}" class="img-d gallery-img">
              </a>
            </div>
           
          </div>
        </div>
   {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-12">
            <nav class="pagination-a" aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    {% if images.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" tabindex="-1"><span class="bi bi-chevron-left"></span></a>
                    </li>
                    {% endif %}
                    {% for num in images.paginator.page_range %}
                    <li class="page-item {% if images.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endfor %}
                    {% if images.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ images.paginator.num_pages }}"><span class="bi bi-chevron-right"></span></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% else %}
    <h3 class="text-center mt-zach-7">No image/s uploded in {{obj.name}} folder.</h3>
    {% endif %}
    </div>
  </section>

{% endblock %}